@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-links{
    font-family: "'DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: black;
    background-color: #D9D9D9;
}