@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-links{
    font-family: "'DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.main-body{
    border: red 3px solid;
    position: relative;
}
.link{
    background-color: black;
}

a{
    background-color: black;
}
